# Python for Data Science

1. Arithmetic operations
2. Data types
3. Variables
4. Comparaison operators 
5. Strings
6. Functions 
7. Conditions 
8. Boolean expressions
9. Loops 
10. Exeptions
11. Importing libraries 
12. Numpy (if we have time)

###  1. Arithmetic operations

In [1]:
# Addition
1 + 7

8

In [2]:
# Power
2 ** 2

4

In [3]:
# Modulo
9 % 4

1

In [4]:
# Division
10 / 3

3.3333333333333335

In [5]:
# Floor division
10 // 3

3

In [6]:
# Exception: Division by zero
10 / 0

ZeroDivisionError: division by zero

### 2. Data types

In [7]:
# Integer
type(1)

int

In [8]:
# Float
type(1.0)

float

In [9]:
# Casting int 
type(int(1.0))

int

In [10]:
# Casting float
type(float(1))

float

In [11]:
type(print)

builtin_function_or_method

In [12]:
int(1.9)

1

In [13]:
# Exception (String to Integer)
int('CSE')

ValueError: invalid literal for int() with base 10: 'CSE'

### 3. Variables

In [14]:
# Define a variable x
x = 1 
# print x
print(x)

1

In [15]:
# Define 3 variables x,y,z 
x,y,z = 1,2,3 
# print the variables
print(x,y,z)

1 2 3

### 4. Comparaison operators

In [16]:
# Explore the following operators < > >= <= == != 
3 != 1

True

In [17]:
type(3 > 9)

bool

In [18]:
a = True 
b = False 
print(a,type(a))

True <class 'bool'>

### 5. Strings

In [19]:
# Define a string variable called x 
x = "CSE"
# Print the variable 
print(x, type(x))

CSE <class 'str'>

In [20]:
# Checking characters by indexes 
x[-1]

'E'

In [21]:
# Define a string variable called country  = l'Algerie 
country = 'L\'Algerie'

# Print the variable 
print(country)

L'Algerie

In [22]:
# Print the length of a string
print(len(country))

9

In [23]:
len(country)

9

In [24]:
# Basic concatenation
x + " est un club."

'CSE est un club.'

In [25]:
# Strings functions 
# Define a variable named movie 

movie = 'The titanic movie'
# Title 
print(movie.title())
# Lower
print(movie.lower())
# Upper 
print(movie.upper())

The Titanic Movie
the titanic movie
THE TITANIC MOVIE

In [26]:
# String formating
# Define a variable called name and a variable called age 
name = 'Marwa'
age = 20 
sentence = 'My name is {} and I am {} years old'
# Print a formatted string : my name is NAME and I am AGE years old
print(sentence.format(name,age))

My name is Marwa and I am 20 years old

In [27]:
# Slicing 
name = 'Marwa CS Student'
name[-1]

't'

string[start_idx,end_idx,step]
- start_idx : included
- end_idx: excluded

In [28]:
name[:]

'Marwa CS Student'

In [29]:
# MraC tdn
name[::2]

'MraC tdn'

### 6. Functions

In [30]:
# Function with a return : calculate the area of a square

def calculate_area(x,y):
    area = x* y
    return area

In [31]:
# Test the function 
calculate_area(2,3)

6

In [32]:
# Function without a return : print_title 
def print_title(movie_title):
    title = movie_title.title()
    print(title)

In [33]:
# Test the function 
print_title('The titanic movie')

The Titanic Movie

In [34]:
def next_number(x, step = 2):
    return x + step 

next_number(5,1)

6

### 7. Conditions

In [35]:
# Create a function that compares two numbers 
def compare(x,y):
    if x > y:
        print('{} is bigger than {}'.format(x,y))
    elif x < y:
        print('{} is less than {}'.format(x,y))
    else:
        print('{} is equal to {}'.format(x,y))

In [36]:
if False: 
    print('I am in')  
    print('I am out ')

In [37]:
# Test the function 
compare(50,50)

50 is equal to 50

### 8. Boolean expressions

In [38]:
# And 
2 < 4 and 4 < 9

True

In [39]:
# Or
2 > 4 or 4 > 9

False

In [40]:
# Not 
not(2 > 4)

True

In [41]:
not(2 > 4) and ( 2 < 1 or 5 > 0)

True

### 9. Loops

In [42]:
# For loop using range 
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
# While loop 
i = 0 
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

### 10. Exceptions

In [44]:
a = 10 / 0 
print('The rest of the program')

ZeroDivisionError: division by zero

In [45]:
# Division by zero exception
try :
    a = 10 / 0
except Exception as e:
    print(e)
else:
    print('i am here if there is no exception')
finally:
    print('I am here anyway')


print('The rest of the program')

division by zero
I am here anyway
The rest of the program

### 11. Importing libraries

In [46]:
# import pi from math 
from math import pi

In [47]:
# print pi 
print(pi)

3.141592653589793

In [48]:
# How to install a new library
!pip install numpy

Requirement already satisfied: numpy in c:\users\at\anaconda3\envs\tensorflow\lib\site-packages (1.21.4)

In [2]:
x = 1

In [3]:
name = "Marwa"

In [4]:
school = "ESAA"

In [5]:
grade = 15.5